### Java / Kotlin ###
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.hprof
*.DS_Store

# Arquivos temporários
*.swp
*.tmp
*.bin
*.lock
*.probe

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
target/

### IntelliJ IDEA ###
.idea/
*.iws
*.ipr
*.iml
out/

### Eclipse ###
.project
.classpath
.settings/

### VS Code ###
.vscode/

### Sistema Operacional ###
# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
Desktop.ini
